@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

#hero{
    height: 533px;
    background-image: linear-gradient(360.00deg, rgb(9, 9, 9) 3.482%,rgba(16, 16, 16, 0) 101.632%), url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

#hero .hero-content{
    width: 593px;
}

#hero .hero-content .subtitel{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 19px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
opacity: 0.8;
margin-bottom: 9px;
}

#hero .hero-content .title{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 37px;
font-weight: 700;
line-height: 46px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 14px;
}

#hero .hero-content .description{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 10px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 18px;

}

.button{
    padding: 12px 18px 12px 18px;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 11px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    cursor: pointer;
}

.button-container{
    text-align: center;
}

#card-box{
    width: 765px;
    margin: 96px auto;

}

#card-box .title{ 


    text-align: center;
    
}

#card-box .subtitel{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;

}

#card-box .title{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 27px;
font-weight: 700;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}

.card-container{
    margin-top: 28px;
    margin-bottom: 37px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.card{
    max-width: 245px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .image-box{
    width: 245px;
}

.card .image-box img{
    width: 100%;
}

.card .shop{
    padding: 6px 18px 6px 18px;
    border-radius: 8px;

    background: rgba(82, 195, 3, 0.15);
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center; 
}


